/* Common Shared Style */
body{
    margin:0px;
    padding:0px;
    font-family: 'Lato', sans-serif;
}


/* Banner Section */

.banner-section{
    display:flex;
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
}

.banner-text-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    weight:708px;
    margin:197px 0px 0px 240px;
}

.banner-text-details{
    width:634px;
    margin:32px 0px 0px 240px;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;    
    padding: 20px 43px;
    border:none;
    margin:32px 531px 147px 240px;
}

.banner-img{
    width:635px;
    height:800px;
    margin:50px 240px 0px 0px;
}

/* Main section start */
/* Feature Section */

.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top:178px;
}

.feature-details{
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 663px 48px 663px;
}

.card-container{
    display:flex;
    justify-content:center;
    margin-top:48px;
    gap:24px;
}

.card-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
}

.car-image-1{
    width: 310px;
    height: 428px;
    margin: 110px 78px 0px 76px;
}

.card-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
}

.car-image-2{
    width: 370px;
    height: 370px;
    margin: 117px 47px 51px 47px;
}

.card-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}

.car-image-3{
    width: 314px;
    height: 471px;
    margin: 67px 75px 57px 75px;
}

.flower-name{
    margin-top:32px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

.flower-name a{
    color: #272727;
}


/* Delivery-section start */

.delivey-service-support{
    display:flex;
    align-items:center;
    justify-content:space-around;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin:128px 240px;
}

.element{
    padding-top:86px;
    width:372px;
    height:234px;
    text-align:center;
}

.img-class{
    width: 88px;
    height: 88px;   
}


.dss-text{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

/* Hot deal section start */

.hotdeal-section{
    display:flex;
    align-items:center;
    justify-content:space-around;
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hotdeal-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 230px 342px 0px 423px; 
}

.off{
    color:#E55473;
}

.hotdeal-details{
    width: 594px;
    height:60px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0px 32px 395px; 
}

.signup-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    width:165px;
    height:64px;
    border-radius: 8px;
    background: #E55473;    
    padding: 20px 43px;
    border:none;
    margin:0px 531px 162px 603px;
}

.hotdeal-image{
    width: 318px;
    height: 420px;
    margin:100px 429px 100px 0px;
}

/* Social section start */

.social-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top:128px;
}

.social-details{
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 663px 48px 663px;
}

.social{
    width:1440px;
    height:396px;
    margin:auto;
}

.social-flower-image-1{
    background-image:url('../assets/Flower 01.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width: 342px;
    height: 396px;
}

.social-flower-image-2{
    background-image:url('../assets/Rectangle 4.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width: 342px;
    height: 396px;
}
.social-flower-image-3{
    background-image:url('../assets/Rectangle 5.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width: 342px;
    height: 396px;
}
.social-flower-image-4{
    background-image:url('../assets/Rectangle 6.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width: 342px;
    height: 396px;
}

.social-flowers{
    display:flex;
    weight:1440px;
    height:396px;
    align-items:center;
    justify-content:space-around;
}

/* Buy Flower section */

.buy-flower{
    width: 1922px;
    height: 620px;
    margin-top:128px;
}

.buy-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align:center;
}

.buy-details{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.shop-section{
    width: 1922px;
    height: 580px;
    display:flex;
    align-items:center;
    justify-content:space-around;  

}

.fimage{
    width:200px;
    height:200px;
    margin-left:40px;
}

.shop_sell_images{
    display:flex;
    align-items:center;
    justify-content:space-around;
    gap:25px;
}

.flower-image-1{
    width:300px;
    height:370px;
    border:2px solid gray;
    padding:18px;
}
.flower-image-1 h2{
    margin-left:10px;
}

.b-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border:none;
    padding: 4px 8px;
    margin-left:10px;
}



/* Latest Deal Section Start */


.latest-deal{
    width: 1440px;
    height: 449px;
    background-image:url('../assets/Rectangle 9.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    border-radius: 8px;
    margin:auto;
    margin-top:128px;
}

.latest-deal h1{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align:center;
    padding-top:122px;
}

.latest-deal-details{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 10px;
}

.send-your-email{
    width:866px;
    height: 70px;
    margin:48px 287px 221px 287px;
}

.send-your-email input[type="email"]{
    width:640px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    padding:10px;
    font-size: 16px;
    font-weight: 400;
}

.Subscribe{
    width:180px;
    height:70px;
    color: #FFF;
    text-align:center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;    
    padding: 22px 40px;
    border:none;
    margin-left:10px;
}

/* Footer Section Start */

.footer-section{
    margin-top:128px;
    width:1922px;
    height:449px;
    text-align:center;
    background: #111010;
}



.footer-section h1{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding-top:128px;
}

.footer-section span{
    color:#FFFFFF;
}

.footer-details {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


.copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}



